{% extends "layout.html" %}
{% block body %}


<form method="post"> 
  {% load crispy_forms_tags %}
        
        <form method ="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                <h3>Kayıt sayfası </H3>
                <hr/>
                 {{form|crispy}}
                 <br/>
                 <button type="submit" class="btn btn-danger">Kayıt Ol</button>
                </div>
            </div>
           
            
        </form>
</form>
{% endblock body %}